<h2 class="page-header">Update Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <a href="/">Cancel</a>
    <button type="submit">Update</button>
</form>