<header>
    <nav>
        <a href="/">MyBrary</a>
        <ul>
            <li><a href="/authors/">All Authors</a></li>
            <li><a href="/authors/new">New Author</a></li>
            <li><a href="/books/">All Books</a></li>
            <li><a href="/books/new">New Book</a></li>
        </ul>
    </nav>
</header>