:root {
    --color-btn-border: black;
    --color-btn-primary-background-dark: hsl(
        var(--color-background-hue),
        100%,
        73%
    );
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
    --color-btn-primary-text: hsl(var(--color-background-hue), 100%, 20%);
    --color-btn-primary-text-dark: hsl(var(--color-background-hue), 100%, 10%);
    --color-btn-background-primary: hsl(var(--color-background-hue), 100%, 83%);
    --color-btn-danger-text: black;
    --color-btn-danger-text-dark: black;
    --color-btn-background-danger: hsl(var(--color-danger-hue), 100%, 83%);
}

.btn {
    border: 1px solid var(--color-btn-border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: "Fira Sans";
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-background-primary);
}
.btn-primary:hover {
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
}
.btn-danger {
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-background-danger);
}
.btn-danger:hover {
    color: var(--color-btn-danger-text-dark);
    background-color: var(--color-btn-danger-background-dark);
}
