:root {
    --color-background-hue: 220;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(
        var(--color-background-hue) - var(--color-danger-hue-offset)
    );
    --color-background-dark: hsl(var(--color-background-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-background-hue), 100%, 16%);
    --color-text-light: hsl(var(--color-background-hue), 100%, 87%);
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}
